<!-- create_order.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
</head>

<body>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        let image = "https://{{ host }}/Files/" + "{{ course.image }}"
        var options = {
            "key": "{{ key }}",
            "amount": "{{order.amount}}", // amount in the smallest currency unit
            "currency": "INR",
            "name": "{{ course.name }}",
            "description": "{{ course.description }}",
            "image": image,
            "order_id": "{{ order.id }}",
            "handler": function (response) {
                fetch('https://{{ host }}/checkout/success/', {
                    method: "POST",
                    body: JSON.stringify({ id: "{{ id }}", payment_id: response.razorpay_payment_id, order_id: response.razorpay_order_id, signature: response.razorpay_signature }),
                    credentials: 'same-origin',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                }).then((data) => {
                    setTimeout(() => {
                        window.parent.location.reload()
                    }, 1000)
                }).catch((error) => {
                    alert("Sorry! we cant proccess your payment now!")
                    setTimeout(() => {
                        window.parent.location.reload()
                    }, 2000)
                })

            },
        };

        function createPayment() {
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }
        createPayment()
    </script>
</body>

</html>